<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <h2 style="color:red"><% if (!loggedIn){%>MUST LOG IN<%}%></h2>
    <h4>Login</h4>
    <form action="/auth/login" method="POST">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Login</button>
    </form>



    </body>
</html>