<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Show Pictures</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Uploaded Images</h1>
    <a href="/photos/new">Upload New Photo</a><br>
    <a href="/users">View all users</a>
    <a href="/photos">View all photos</a>

    <section>
        <% for(photo of photos){ %>
            <a href="/photos/<%=photo._id%>"><img src="<%=photo.url%>" alt="<%=photo.about%>" height="175px"></a>
        <%}%>
    </section>
    <a href="/users">Back</a>
    
    </body>
</html>