<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Show Pictures</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Uploaded Images</h1>

    <section>
        <% for(photo of photos){ %>
            <img src="<%=photo.url%>" alt="<%=photo.about%>"><br>
        <%}%>
    </section>
    <a href="/users">Back</a>
    
    </body>
</html>