<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Upload photo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <form action="/users/<%=user._id%>/upload?_method=PUT" method="POST">
        Username:
        <br><input type="text" id='username' name='username' value ="<%=user.username%>">
        <br>url:
        <br><input type="text" name='url'>
        <br>About:
        <br><input type="textarea" name="about">
        <br>
        <br><input type="submit" value="Submit">
    </form>



     </body>
</html>