<header>
<h2>PhotoAppHomework</h2>
    <br><br>
    <ul>
    <li><a href="/photos">Photo Index</a></li>
    <li><a href="/users">User Index</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <br><br>
</header>