<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Create</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <form action="/users/find" method="POST">
      
        <br><input type="text" name='searchString'>
  
        <br>
        <br><input type="submit" value="Search">
    </form>


     </body>
</html>