<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ClassAssignment - Show Single</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2><%= user.username %><h2>
<h4><%= user.email%><h4>
<br>
<a href="/users/<%=user._id%>/edit">Edit</a>
<br>
<a href="/users/<%=user._id%>/upload">Upload Photo</a>
<br>
<br>


<a href="/users/">Back</a>


