<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <h3>Log In</h3>
    <form action="/auth/login" method="POST">
        Name:
        <br><input type="text" name='username'>
        <br>Email:
        <br><input type="email" name='email'>
        <br>Password:
        <br><input type="password" name="password">
        <br>
        <br><input type="submit" value="Submit">
    </form>



    <br><br><br>
    <h3>Register</h3>
    <form action="/auth/register" method="POST">
    Name:
    <br><input type="text" name='username'>
    <br>Email:
    <br><input type="email" name='email'>
    <br>Password:
    <br><input type="password" name="password">
    <br>
    <br><input type="submit" value="Submit">
</form>


     </body>
</html>