<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <header>
        <h1>Authors</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/authors/new">Create new Author</a>
            </ul>
        </nav>

    </header>
    
    <main>
        <h2>List of Authors</h2>
        <ul>
            <% for (let author of authors){ %>
                <li><a href="/authors/<%=author._id%>"><%=author.name%></a>   <a href="/authors/<%=author._id%>/edit">Edit</a></li>
            <% } %>
        </ul>
    </main>



    </body>
</html>