<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>

    <h1>Create an Author</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authors"></a></li>
        </ul>
    </nav>

    </header>

    <main>
        <form action="/authors" method="POST">
            <input type="text" name="name">
            <input type="submit" value="submit">
        </form>
    </main>
    
    </body>
</html>