<div class='page-header'>
    <h3><a href ="">Header from partial</a></h3>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/authors">Authors Index</a></li>
      <li><a href="/articles">Articles Index</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    </nav>
</div>
